.hero-section {
    width: 100vw;
    /* background: radial-gradient(ellipse 50% 60% at 50% 50%, 
                                transparent 500px, #ffffff 50px); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:10px;
  }
  
  .hero-logo {
    width: 40vw;
    padding-left: 1%;
    padding-top: 5vh;
    margin-bottom: auto;
    z-index: 4;
  }